*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
docs/build
docs/src/examples/*.md
docs/src/tutorials/*.md
docs/src/.DS_Store
.DS_Store
gurobi.log
*.txt
test.jl

*.mps
*.aux
/docs/src/tutorials/conic_lower.md
/docs/src/tutorials/lower_duals.md
